.container {
  & {
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (min-width: 480px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 772px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1280px;
  }
}
