<section class="about" id="anchor2">
    <div class="container">
        <p class="about-text">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
        <div class="about-body">
            <div>
                <picture>
                    <source srcset="../src/images/desktop/cow.png 1x, ../src/images/desktop/cow-2x.png 2x" media="min-width=1200px">
                    <source srcset="../src/images/tablet/cow.png 1x, ../src/images/tablet/cow-2x.png 2x" media="min-width=768px">
                    <source srcset="../src/images/mobile/cow.png 1x, ../src/images/mobile/cow-2x.png 2x" media="min-width=320px">
                    <img class="about-picture" src="../src/images/desktop/cow.png" alt="Корова и кувшин молока">
                </picture>
            </div>
            <div class="about-info">
                <h3 class="info-title">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </h3>
                <p class="info-text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. 
                </p>
                <p class="info-text">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="about-button" type="button">
                    Read more
                    <svg class="button-icon">
                        <use href="../src/images/sprite.svg#arrow-right-new"></use>
                    </svg>                        
                </button>
            </div>
        </div>
    </div>
</section>