<section>
    <div class="container">
        <p>tradition and love</p>
        <h2>how it’s made?</h2>
        <div>
            <picture>
                <source srcset="../src/images/desktop/cow.png 1x, ../src/images/desktop/cow-2x.png 2x" media="min-width=1200px">
            </picture>
            <picture>
                <source srcset="../src/images/tablet/cow.png 1x, ../src/images/tablet/cow-2x.png 2x" media="min-width=768px">
            </picture>
            <picture>
                <source srcset="../src/images/tablet/cow.png 1x, ../src/images/mobile/cow-2x.png 2x" media="min-width=320px">
            </picture>
            <img src="../src/images/mobile/cow.png" alt="Корова и кувшын молока">
            <div>
                <h3>
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </h3>
                <p>
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button">
                    Read more
                    <svg>
                        <use href="../src/images/sprite.svg#arrow-buy"></use>>
                    </svg>                        
                </button>
            </div>
        </div>
    </div>
</section>