<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">contacts</h2>
        <ul class="contacts__card">
            <li class="contacts__text">
                <p class="contacts__name">CAFE</p>
                <h3 class="contacts_city">Chicago</h3>
                <p class="contacts_city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contacts_city__day">Monday - Friday</p>
                <p class="contacts_city__time">06:00 AM - 10:00 PM</p>
                <p class="contacts_city__day">Saturday - Sunday</p>
                <p class="contacts_city__time-output">08:00 AM - 16:00 PM</p>
                <a class="contacts_city__tell" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contacts_city__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        
        
            <li class="contacts__text">
                <p class="contacts__name_text">FOODTRUCK</p>
                <h3 class="contacts_city">Los Angeles</h3>
                <p class="contacts_city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contacts_city__day">Monday - Friday</p>
                <p class="contacts_city__time">06:00 AM - 10:00 PM</p>
                <p class="contacts_city__day">Saturday - Sunday</p>
                <p class="contacts_city__time-output">08:00 AM - 16:00 PM</p>
                <a class="contacts_city__tell" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contacts_city__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        
        
            <li class="contacts__text">
                <p class="contacts__name">CAFE</p>
                <h3 class="contacts_city">New York</h3>
                <p class="contacts_city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contacts_city__day">Monday - Friday</p>
                <p class="contacts_city__time">06:00 AM - 10:00 PM</p>
                <p class="contacts_city__day">Saturday - Sunday</p>
                <p class="contacts_city__time-output">08:00 AM - 16:00 PM</p>
                <a class="contacts_city__tell" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contacts_city__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contacts__btn">
            <li class="contacts__btn_item">
                <button class="contacts_btn__offers button" type="button">Our Locations <svg class="footer_social_list__icon" width="10px" height="10px">
                    <use href="./images/sprite.svg#arrow-buy"></use>
                  </svg> </button>
            </li>
            <li>
                <button class="contacts_btn__order button" type="button">Franchise </button>
            </li>
        </ul>
    </div>
    
</section>