<section class="section customer-reviews" id="anchor1">
    <div class="container">
        <h2 class="reviews-headline">reviews</h2>
        <div class="sim-slider">
            <div class="slider">
                <div class="item">
                    <img class="slick__icon" srcset="./images/visitor1.png 1x, ./images/visitor1-2x.png 2x" alt="girl" src="./images/visitor1.png">
                    <div class="reviews__text">
                        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <div class="location">
                        <p class="location__text">Emily, Los Angeles</p>
                    </div>
                </div>
                <div class="item">
                    <img class="slick__icon" srcset="./images/visitor2.png 1x, ./images/visitor2-2x.png 2x" alt="girl" src="./images/visitor2.png">
                    <div class="reviews__text">
                        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="location">
                        <p class="location__text">Eva, Los Angeles</p>
                    </div>
                </div>
                <div class="item">
                    <img class="slick__icon" srcset="./images/visitor3.png 1x, ./images/visitor3-2x.png 2x" alt="girl" src="./images/visitor3.png">
                    <div class="reviews__text">
                        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>  
                    <div class="location">
                        <p class="location__text">Ann, Los Angeles</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-dots">
            <span class="slider-dots_item" onclick="currentSlide(1)"></span>
            <span class="slider-dots_item" onclick="currentSlide(2)"></span>
            <span class="slider-dots_item" onclick="currentSlide(3)"></span>
        </div>
    </div>

    
</section>