<section class="section customer-reviews">
    <div class="container">
        <h2 class="reviews-headline">reviews</h2>
        <ul>
            <li>
                <img srcset="./images/visitor1.png 1x, ./images/visitor1-2x.png 2x" alt="girl" src="./images/visitor1.png">
                <svg>
                    <use href="./images/sprite.svg#icon-arrow-riht"></use>
                </svg>
                <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </li>
            <li>
                <img srcset="./images/visitor2.png 1x, ./images/visitor2-2x.png 2x" alt="girl" src="./images/visitor2.png">
                <svg>
                    <use href="./images/sprite.svg#icon-symbolk"></use>
                </svg>
                <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </li>
            <li>
                <img srcset="./images/visitor3.png 1x, ./images/visitor3-2x.png 2x" alt="girl" src="./images/visitor3.png">
                <svg>
                    <use href="./images/sprite.svg#icon-symbolk"></use>
                </svg>
                <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </li>
        </ul>
    </div>
</section>