.customer-reviews {
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 132px;
  }
}

.reviews {
  &-headline {
    display: none;
  }
  &__text {
    position: relative;
    margin: 0 auto;
    margin-bottom: 52px;
    z-index: 0;
    background-color: $background-reviews;
    padding-top: 43px;
    padding-bottom: 19px;
    @media screen and (min-width: 768px) {
      margin-bottom: 42px;
      max-width: 620px;
      padding-top: 47px;
      padding-bottom: 27px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 34px;
      max-width: 926px;
      padding-top: 47px;
      padding-bottom: 32px;
    }
    &::before {
      position: absolute;
      top: 28px;
      left: 61px;
      content: '';
      background-image: url('../images/symbolk.svg');
      background-color: transparent;
      fill: black;
      background-repeat: no-repeat;
      width: 54px;
      height: 40px;
      z-index: -1;
      @media screen and (min-width: 768px) {
        top: 30px;
        left: 40px;
      }
      @media screen and (min-width: 1200px) {
        top: 32px;
        left: 50px;
      }
    }
    &::after {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      background-image: url('../images/tochcka.svg');
      fill: rgba(199, 19, 62, 1);
      background-repeat: no-repeat;
      width: 32px;
      height: 4px;

      @media screen and (min-width: 768px) {
        bottom: -24px;
      }
      @media screen and (min-width: 1200px) {
        bottom: -15px;
      }
    }
  }
}

.slick {
  &__icon {
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 29px;
      @media screen and (min-width: 768px) {
        margin-bottom: 19px;
      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 15px;
      }
    }
  }
}

.customer__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.583;
  letter-spacing: 0.04em;
  text-align: center;
  color: $black-color;
  max-width: 180px;
  margin: 0 auto;
  padding-left: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 28px,
    #e1e1e1 19px,
    transparent 31px
  );
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.142;
    max-width: 524px;
    padding-left: 20px;
    padding-right: 44px;
    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent 29px,
      #e1e1e1 29px,
      transparent 30px
    );
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.875;
    max-width: 813px;
    padding-left: 28px;
    padding-right: 35px;
    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent 28.5px,
      #e1e1e1 28.5px,
      transparent 30.5px
    );
  }
}

.location {
  &__text {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.85;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.86;
    }
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
}

/* Кружочки */
.slider-dots {
  padding-top: 30px;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-top: 35px;
  }
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  &.active {
    background-color: transparent;
    border-radius: 0;
    background-image: url('../images/home.svg');
  }
}

.slider-dots_item:hover {
  border: none;
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
