.products_container {
  padding-top: 121px;
}

.subtitle {
  margin: 0;
  padding-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.title {
  margin: 0;
  padding-bottom: 31px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
